@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body {
    /*
    background: linear-gradient(#040228, #0075c7);
    min-height: 100vh;*/
    overflow-x: hidden;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

#gjallar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px

}

.logo {
    color: #fff;
    font-size: 2em;
    cursor: default;
}

.navbar a {
    color: fff;
    text-decoration: none;
    margin-left: 20px;
    font-weight: 600;
    padding: 6px 15px;
    border-radius: 20px;
}

.navbar a:hover, .navbar a.active{
    background: #00a3b9;
}

.parallax {
    background: linear-gradient(#040228, #0075c7);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}

#gjallar-logo {
    max-width: 500px;
    width: 50%;
    margin-bottom: 0;
}

#stars {
   position: absolute;
   top: 30px;
   left: 30x;
}

.about-introduction{
    font-size: 100px;
}

.home-about{
    padding: 4em 4em;
    background-color: white;
    max-width: 900px;
    margin: 0 100px;
}

.col + .col {
    margin-left: 3em;
}

.fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
}

.fade-in.appear {
    opacity: 1;
}

.columns{
    display: flex;
}

.paragraph{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    height: 400px;
    width: 400px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #1cd8d2, #93edc7);
    color: white;
    margin: 100px 0;
    border-radius: 7px;
 }

 .more-stuff-grid {
    background: #f4f4f4;
    padding: 4em 0;
    display: grid;
    grid-gap: 2em;
    align-items: center;
    grid-template-columns: minmax(1em, 1fr) repeat(2, minmax(200px, 400px)) minmax(1em, 1fr);
  }
 
  .left {
    padding-left: 50px;
    padding-right: 50px;
    max-width: 400px;
  }

  .from-left {
    grid-column: 2 / 3;
    transform: translateX(-50%);
  }
  
  .from-right {
    grid-column: 3 / 4;
    transform: translateX(50%);
  }

  .from-left, .from-right {
    transition: transform 400ms ease-in;
  }

  .from-left.appear, .from-right.appear {
    transform: translateX(0)
  }